body {
  color: #FEFCFF; /* milky white */
  background-color: #2554C7 /* blue */
}
h1,h2,h3 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  font-family:inherit;
}
h4,h5,h6 {
  font-size: 28px;
  font-family:inherit;
}
p, section{
   font-size: 20px;
   font-family:inherit;
   font-weight: normal;
 }
ul,ol {
  font-size: 18px;
  font-family:inherit;
  font-weight: lighter;
}
a {
  color: #FEFCFF
}
